.Body{
    padding: 20px;
    background: #f9f9f9;

    .cardContainer{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }
}

/* .body .cardContainer h1 {}
.body .cardContainer h2 {} */